extends layout

block content
    div#Developers
        h1 Developers
        p We connect you with the needs of open source projects. But we don't leave you in the dark. We ensure you get all the specs, build instructions and help you'll need.
        p Find interesting problems to work on that carry the open source community forward.
        p
            button
                a(href="search") Stuff to Work On