extends layout

block content
  div#landingOptions
    div#left
      button
        a(href="/developer") Contribute to Open Source Projects
    div#right
      button
        a(href="/auth") Publish your Project
  div#About
    h1 About Us
    p There are a number of challenges in contributing to the open source community. From understanding humongous code bases to realizing what issues need to be addressed and what features need to be implemented.
    p OpenAid is a step toward closing the gap between budding developers and open source projects.
    p Stakeholders of the project can publish their projects and developers can respond to issues or feature requests.

