doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(type="text/javascript" src="/javascripts/repos.js")
  body
    div#header
      h1 OpenAid
      h5#signout Sign Out
      h5#aboutus About Us
    block content