extends layout

block content
    div#published
        h1 Congrats!
        p Your project has been published and is now visible to other developers.
        p Please add tags to classify what skills developers need to have. This will also help them find these specs.
        p You will also get more attention if you have the following on your github page:
        ul
            li Build instructions
            li Comprehensive ReadMes
            li What is the issue you're solving or the feature you're implementing.
            li Style guidelines to be followed
            li Languages and technologies used in the project
        p Good luck with your Project!