extends layout

block content
    div#Repositories
        h1 Choose Your Repositories
        form(action="#", method="post")
            each repo in repos
                label
                    div.optionSection
                        span.title #{repo.name}
                        br
                        span.description #{repo.description}
                        div#input
                            input.check(type="checkbox" name='repo' value='#{repo}')
            else
                p "Sorry, we didn't find any repositories."
            input#submitrepos(type="submit", name="Submit")