extend layout

block content
    h1#teamtitle The Team!
    h4 We're a bunch of undergrads at the University of Washington
    div.profile
        img.person(src="/images/anirbabe.png")
        h4 Anirbabe
    div.profile
        img.person(src="/images/divye.png")
        h4 DiviDarling
    div.profile
        img.person(src="/images/vardhman.png")
        h4 Vardhy
    div.profile
        img.person(src="/images/ishy.png")
        h4 Ishy

